/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  font-family: 'Source Sans Pro', sans-serif;

}

form {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  margin: 0 auto;
  margin-top: 200px;
  width: 40%;
  box-sizing: border-box;
  border: .5px solid red;
  text-align: center;
}

div.auth-page {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  border-bottom: .5px solid magenta;
  opacity: 0.5;
}

:visited {
  text-decoration: none;
}

input {
  color: grey;
}
